<div>
    <h1>¡Bienvenido a nuestro portal!</h1>
    <p>Nombre: {{user.first_name}}.</p>
    <p>Apellido: {{user.last_name}}.</p>
    <p>Email: {{user.email}}.</p>
    <p>Edad: {{user.age}}.</p>
    <p>Tu rol es: {{user.role}}.</p>

    <a href="/api/sessions/logout/"><button>Cerrar sesión</button></a>
    <a href="/"><button>Volver al inicio</button></a>
</div>